<div class="row">
	<div class="col-md-8 col-lg-4 card card-1" id="reset-password-form">
		<h3 class="text-center">Reset Password</h3>
		<form [formGroup]="resetPassForm" *ngIf="tokenPresent">
			<div *ngIf="resetPassForm.controls.password.invalid && resetPassForm.controls.password.dirty">
				<div class="text-danger" *ngIf="resetPassForm.controls.password.errors.required">
					Password is required
				</div>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text text-success"><i class="fas fa-key"></i></span>
				</div>
				<input type="password" name="password" placeholder="New Password" class="form-control" formControlName="password">
			</div>
			<div *ngIf="resetPassForm.controls.password2.invalid && resetPassForm.controls.password2.dirty">
				<div class="text-danger" *ngIf="resetPassForm.controls.password2.errors.required">
					Confirm password
				</div>
			</div>
			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text text-primary"><i class="fas fa-key"></i></span>
				</div>
				<input type="password" name="password2" placeholder="Confirm Password" class="form-control" formControlName="password2">
			</div>
			<div *ngIf="formError">
				<div class="alert alert-danger">
					<b>{{formErrMsg}}</b>
				</div>
			</div>
			<button type="button" class="btn btn-warning btn-block" (click)="resetPassword()" [disabled]="!resetPassForm.valid">Update</button>
			<button type="button" class="btn btn-link" (click)="clearResetForm()"><small>Clear</small></button>
		</form>
		<div *ngIf="!tokenPresent">
			<div class="alert alert-danger">
				<b>{{formErrMsg}}</b>
			</div>
			<a href="/login">Back to Login</a>
		</div>
	</div>
</div>